$Inter: ('Regular', 400),
        ('Medium', 500),
        ('SemiBold', 600),
        ('Bold', 700);

@each $name,$weight in $Inter{
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-#{$name}.ttf');
    font-weight: $weight;
  }
}
