@import './all.scss';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background-color: #E7F6FF;
}

.wrapper{
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 85px;
	border-radius: 20px;
	height: 100%;
	padding-bottom: 30px;
}

.container{
	max-width: 990px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.hr{
	border: none;
	height: 1px;
	background-color: #EAEAEA;
}

button{
	border: none;
	outline: none;
	background-color: none ;
}