@import "../fonts.scss";

.home {
  margin-top: 40px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      max-width: 650px;
      width: 100%;
      color: #000;
      font-size: 32px;
      font-weight: 700;
      line-height: normal;
      overflow-x: auto;
    }

    &-search {
      display: flex;
      align-items: center;
      gap: 18px;
      border-radius: 10px;
      border: 1px solid #f3f3f3;
      padding: 15px 18px;

      & img {
        width: 14px;
        height: 14px;
      }

      & input {
        border: none;
        outline: none;
      }

      &-clear{
        cursor: pointer;
      }
    }
  }
  &__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

@media (max-width: 1000px) {
  .home{
    &__wrapper{
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 730px) {
  .home{
    &__wrapper{
      justify-content: center;
      gap: 20px;
    }

    &__top{
      &-title{
        font-size: 28px;
      }

      &-search{
        padding: 10px ;
        gap: 10px;
      }
    }
  }
}

@media (max-width: 680px) {
  .home{
    &__wrapper{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .home{
    &__wrapper{

    }

    &__top{
      flex-direction: column;
      gap: 10px;
      &-search{
        align-self: start;
      }
    }
  }
}

@media (max-width: 450px) {
  .home{
    &__wrapper{
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .product{
    width: 240px;
  }
}
