@import "../fonts.scss";

.products {
  margin-top: 40px;

  &-title {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
  }

  &__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
